table {
    thead th span {visibility: hidden; }
    thead th.active  span {visibility: visible;}
}
.table-c{
    td, th {
        word-break: break-all;
    }
}

.table-c thead th {
    color: #ff3366;
}
.table-c th a{
    color:#ff3366;
}
.even{
    background-color: #e0e3ff;
}
.odd{
    background-color: #e0f6f6;
}
.no-of-row {
    max-width: 170px;
    display: flex;
    float: left;
}
.no-og-lbl {
    display: flex;
    white-space: nowrap;
    padding-right: 5px;
    padding-top: 5px;
    color: #000;
}

::ng-deep .pagination-previous{
    border:1px solid #ccc !important;
    margin-right: 10px !important;
}

::ng-deep .ngx-pagination li{
    border:1px solid #ccc;
}
::ng-deep .ngx-pagination .current{background-color: #6571ff !important;}
::ng-deep .pagination-next{margin-left: 10px;}